#avatar{
    width: 20%;
    height: 30%;
    margin-top: 3%;
}

#content{
    margin: auto;
    max-width: 50%;
    height: 1500px;
    text-align: center;
}

#mtop{
    margin-top: 12%;
}

#info{
    margin-top: 20px;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
}

h5{
    font-family: 'Big Shoulders Display', cursive;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    color: rgb(30,30,30);
}