.me{
width: 40%;
height: 40%;
border-radius: 50%;
}

h5{
    color: #04C2C9!important;
}

p{
    font-size: 18px;
    width: 90%;
}

.contato{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover{
    color: #04C2C9!important;
    transition: 0.3s;
}

a{
    text-decoration: none!important;
    color: black!important;
}

main{
    margin-top: 7%;
}

.carreira{
    margin-bottom: 7%;
}

.projetoImg{
    width: 90%;
    height: 90%;
    margin: auto;
}

.footer{
    margin-top: 10%;
}